*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.main-container{
width: 100%;
height: 100vh;

}
.container{
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
    height: auto;
    background-color:aliceblue;
    position: fixed;
    z-index: 5;
}
.nav1{
    width: 100%;
    height: 40px;
    background-color: rgb(10, 30, 10);
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav1 span{
    width: 30%;
    height: auto;
    margin-left: 100px;
    padding-inline: 20px;
}
.nav1 a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-inline: 5px;
}
.nav1 ul{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav1 ul li{
    width: 50%;
    height: auto;
    list-style: none;
    text-decoration: none;
}




.nav2{
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.nav2 .logo{
    width: 20%;
    height: 70px;
    
}
.logo img{
    width:90%;
    padding-top: 10px;
}
.nav2 ul {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
}
.nav2 ul li{
    list-style: none;
    
}

.nav2 ul li a{
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 73, 73)
}






    .hero-section{
        width: 100%;
        height: auto;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        background-color: rgb(40, 85, 40);
        flex-direction: column;
         text-align: end;
         padding-block: 100px;
        }
        
        .hero-section h6{
            font-size: 15px;
            color: rgb(162, 162, 15);
            padding-left: 500px;
            
            padding-right: 120px;
            padding-top: 150px;
         }
         .hero-section h1{
            font-size: 50px;
            color: white;
            
            margin-right: 100px;
            margin-left: 700px;
            line-height: 1.5;
            
         }



          .hero-section span button{
            width: 140px;
            height: 50px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            font-weight: 800;
            margin-top: 30px;
        /* margin-right: 100px; */
        
            
            }
         .btn1{
            margin-right: 20px;
         }

         .btn1 a{
            color: white;
            text-decoration: none;
         }
         
         .btn2{
            margin-right: 125px;
         }
         .btn2 a{
            color: white;
            text-decoration: none;
         }


         /* ----- */

         .img-section{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(240, 237, 232);
            padding-bottom: 100px;
            

        }
        .left-child{

            width: 50%;
            height:auto; 
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* padding-block: 50px; */
            /* margin-bottom: 100px; */
        }
        .left-child .box{
            background-color: white;
            width: 560px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            top: -200px;
            margin-left: 100px;
             }

      .box{
       transition: all ease-in-out 1s;
       transform: skew(180deg);
       /* transform: skew(-16deg, -0deg); */

       }






        .left-child .box h6{
            font-size: 18px;
            color: purple;
            /* text-align: 10px; */
            /* padding-bottom: 100px; */
        }
        .left-child .box h1{
            font-size: 45px;
            color: black;
            padding-left: 40px;
            padding-right: 40px;
            text-align: center;
            padding-block: 20px;
              }


        .img-btn1{
            width: 300px;
            height: 60px;
            /* font-size: 18px;
            font-weight: 700; */
            background-color: purple;
            border: none;
        } 
        .img-btn1 a{
            font-size: 16px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            /* padding-inline: 1px; */
       }


       .left-child img{
        width: 550px;
        height: 300px;
         margin-left: 90px;
         margin-bottom: 250px;
         box-shadow: -70px 50px 0px rgb(26, 133, 26);
        }

       .right-child{
             width: 50%;
            height:auto;
            display: flex;
            align-items: start;
            justify-content:start;
            flex-direction: column;
        
            padding-left: 50px;
            margin-top: 230px;
            }

          .bottom-part{

            width: 100%;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            

          }
          .bottom-part p{
              font-size: 22px;
              color: rgb(59, 51, 51);
              padding-right: 280px;
         }
         .img-btn2{

           width: 300px;
           height: 50px;
           border: 2px solid purple;
           margin-top: 50px;
          }
          .img-btn2 a{
            font-size: 20px;
            color: rgb(167, 148, 184);
            text-decoration: none;
          }


          .right-child h6 {
            font-size: 16px;
            color: purple;
            padding-right: 400px;
            margin-top: 80px;

          }
          .right-child h1{
            font-size: 35px;
     
            margin-top: 40px;
        }

        .right-child hr{
            width: 100px;
            display: flex;
            text-align: start;
            align-items: start;
            justify-content: start;
            margin-top:40px;
            color: black;
            
            
        }
         .right-child p{
            font-size:18px;
            margin-top: 20px;
            display: flex;
            text-align: start;
            /* padding-left: 50px; */
            margin-top: 40px;
        }
             /* ------ */

             .msg-section{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: rgb(22, 68, 22);
                text-align: center;
                padding-block: 100px;
             }
             .msg-section h1{
                font-size: 42px;
                color: white;
                line-height: 2;
             }
             .msg-section h5{
                font-size: 20px;
                color: white;
                line-height: 1.5;
             }
             .msg-btn{
                width: 220px;
                height: 45px;
                margin-top: 30px;
                background-color: transparent;
                border: 2px solid white;
             }
             .msg-btn a{
                font-size: 20px;
                text-decoration: none;
                color: white;
             }

         .img-part{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: rgb(240, 237, 232); */
            /* background-color: blueviolet; */
            margin-top: 70px;
            padding-bottom: 120px;
         }
         .left-part{
            width: 50%;
            height:100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
         }
         .left-part img{
             width: 75%;
            margin-left: 50px;
            box-shadow:  -70px 50px 0px rgb(9, 83, 9);
         }

            .right-part{
            width: 50%;
            height:100vh;
            display: flex;
            align-items: start;
            justify-content:start;
            flex-direction: column;
            margin-top: 200px;

             }
             .right-part h4{
                color: purple;
                padding-bottom: 20px;
                
             }
             .right-part h1{
                font-size: 38px;
                padding-right: 160px;
                line-height: 1.4;
                padding-bottom:42px;
             }

             .right-part hr{
             width: 100px;
            display: flex;
            text-align: start;
            align-items: start;
            justify-content: start;
            color: purple;
             }


             .bottom-part2{
                width: 100%;
                height: auto;
                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
             }
             .bottom-part2 p{
                font-size: 20px;
                padding-top: 30px;
                color: rgb(72, 66, 66);
                padding-right: 220px;
                line-height: 1.5;
                
             }
             .part2-btn{
                width: 230px;
                height: 50px;
                border: 2px solid rgb(64, 15, 64);
                background-color: transparent;
                margin-top: 30px;
             }

             .part2-btn a{
                font-size: 20px;
                text-decoration: none;
                
             }

             .txt-part{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: rgb(150, 102, 194);
                padding-block: 100px;
             }

             .txt-part h1{
                font-size: 38px;
                color: white;
                /* line-height: 2; */
                text-align: center;
                padding-left: 335px;
                padding-right: 335px;
                
             }
             .txt-part p{
                font-size: 20px;
                padding-left: 380px;
                padding-right: 380px;
                text-align: center;
                color: white;
                line-height: 1.3;
             }
             .txt-btn{
                width: 250px;
                height: 45px;
                background-color: transparent;
                border: 2px solid white;
                font-size: 20px;
                margin-top: 20px;
               }
               .txt-btn a{
                text-decoration: none;
                color: white;
                
               }

  .box-part{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 48, 48)
     }

    .box1{
    width: 530px;
    height: 380px;
    background-color: rgb(56, 112, 56);
    text-align: center;
    padding-inline: 10px;
    padding-block: 60px;
    position: relative;
    top: -50px;
   }

  .box1 h6{
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    
   }
   .box1 h1{

    font-size: 35px;
    color: white;
    line-height: 1.3;
    padding-left: 35px;
    padding-right: 35px;
    }

   .box-btn{
    width:150px;
    height: 45px;
    background-color: white;
    color: rgb(142, 108, 142);
    border: none;
    margin-top: 20px;
    
}

.box-btn a{
    font-size: 18px;
    text-decoration: none;
}


    .box2{
    width: 530px;
    height: 380px;
    background-color: rgb(84, 77, 77);
    padding-block: 60px;
    color: white;
    padding-left: 30px;
    line-height: 1.3;
    /* position: relative; */
    /* top: 60px; */
   }





   .box2:hover{
    animation: move 3s  infinite;
}

@keyframes move{

    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(-50px);

    }
    100%{
        transform: translateY(0px);

    }
}










   .box2 h3{
    font-size: 22px;
    color: white;
    padding-bottom: 16px;
    
    }
   .box2 ul{

    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    }
   .box2 ul li{
    list-style: none;
    line-height: 1.6;
   }


   .contact-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-left: 120px;
    padding-block:80px;
    background-color: rgb(89, 116, 101)
    
      }
   .contact-part h6{
    font-size: 20px;
    color: rgb(173, 173, 37);
    padding-bottom: 20px;
      }
   .contact-part h1{
    font-size: 45px;
    color: white;
    padding-block: 35px;

     }

.line{
    width: 35px;
    height: 3px;
    background-color: rgb(145, 145, 15);
}



   /* .contact-part hr{
    width: 80px;
    color:  rgb(173, 173, 37);
    } */
   .contact-part p{
    font-size: 20px;
    padding-block: 40px;
    color: white;
    line-height: 1.8;
     }
     .contact-btn{
        width: 150px;
        height: 50px;
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: 2px solid white;
     }

     .gap{
        width: 100%;
        height: 80px;
        background-color: rgb(234, 224, 224);
     }
     .last-part{
        width: 100%;
        height:100vh;
        background-color: rgb(72, 131, 72);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
     }
     .last-box{
        width: 80%;
        height: 100vh;
        background-color: white;
        position: relative;
        top:-11%;
        /* left: 130px; */

        display: flex;
        align-items: center;
        justify-content: center;
        
     }

     .left{
        width: 50%;
        height: 100vh;
        
        background-color: white;
        padding-block: 50px;
        /* padding-left: 45px; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
    .left h2{
        font-size: 50px;
        color: black;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }


.left input{
    width: 50%;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    padding-block: 25px;
    border: none;

    
    }
    .left hr{
        width:55%;

    }
     .left textarea{
       width: 55%;
        height:40%;
        border: 1px solid rgb(161, 153, 153);
        text-align: start;
        margin-top: 30px;
        font-size: 18px;
        padding-left: 5px;
        }

    #snd{
        width: 100px;
        height: 60px;
        color: white;
        background-color: rgb(87, 14, 87);
        font-size: 16px;
        font-weight: 500;
        border: none;
        margin-top: 20px;
        /* margin-left: 460px; */
    }


     .right{
        width:50%;
        height: auto;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        
     }
     .blk-box{
        width: 70%;
        height:40%;
        background-color: rgb(57, 54, 54);
        /* margin-left: 50px; */
        border-top: 8px solid purple;
        padding-bottom: 10px;


        }
    .blk-box h5{
        font-size: 22px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 60px;
        line-height: 1.8;
        color: white;
     }
     .blk-box h4{
        font-size: 20px;
        padding-top: 30px;
        padding-left: 80px;
        color: white;
     }
     .footer{
        width: 100%;
        height:50px;
        background-color: rgb(59, 119, 76);
        position: relative;
        top: -79px;
     }
     .footer ul{
        width: 600px;
        display: flex;
        padding-left: 105px;
        align-items: start;
        justify-content: space-around;
        padding-top: 12px;
        list-style: none;
    }
     .footer ul li a{

        font-size: 16px;
        text-decoration: none;
        color: white;
         }
      .footer-2{
        width: 100%;
        height:60px;
        background-color: rgb(16, 60, 35);
         display: flex; 
        align-items: start;
        justify-content:  center;
        position: relative;
        top: -80px;
      }
    .footer-2 a{
    font-size: 18px;
    color: white;
    padding-top: 15px;
    text-decoration: none;
   }
    .icon{
        width: 100px;
        height: 60px;
        
        display: flex;
        align-items:center;
        justify-content: center;
        margin-left: 800px;
        
     }
    .icon a i{
        padding-inline: 2px;
        font-size: 30px;
    }

.nav2 .search{
    display: none;
}



    /* responsive css code */

@media (max-width:768px){

    .main-container{
        width: 100%;
        height: auto;
    }
    .container{
        width: 100%;
        height: auto;
    }

    .header{
        width: 100%;
        height: 120px;
        background-color: whitesmoke;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .nav1{
        width: 100%;
        height: 30px;
        background-color: rgb(10, 30, 10);
        /* color: white; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav1 span{
        width: 100%;
        height: auto;
        margin-left: 100px;
        padding-inline: 20px;
    }
    .nav1 a{
        font-size: 14px;
        color: white;
        text-decoration: none;
        padding-inline: 5px;
    }
    .nav1 ul{
        
        display: none;
        }
    .nav1 ul li{
        display: none;
    }
.nav2{
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    
}

    .nav2 .logo{
        width: 20%;
        height: 55px;
    }
    .logo img{
        width: 150px;
        margin-left:20px;
        padding-top: 20px;
    }
    
    .nav2 ul li{
        display: none;
    }

    .nav2 .search{
        width: 20%;
        height: 60px;
        display: flex;
        align-items: center; 
        justify-content: space-between;
         /* background-color: blue; */
         margin-left: 300px;
         padding-right: 30px;
    }

.search a i{
    width: 60px;
    /* padding-left: 70px;
    padding-top: 20px; */
    /* margin-left: 100px; */
    }
    

.hero-section{
    width: 100%;
    height: auto;
    padding-block: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}
.hero-section h6{
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 150px;
    color: red;
    font-size: 14px;
}
.hero-section h1{
    font-size: 28px;
    color: white;
    
    margin-right: 0px;
    margin-left: 0px;
    line-height: 1.5;
    padding-right: 50px;
    
 }

 .hero-section span button{
    width: 120px;
    height: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    margin-top: 50px;

    font-size: 14px;
     margin-left: 20px;

    }

    .img-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(240, 237, 232);
        padding-bottom: 100px;
        }

        .left-child{
            width: 100%;
            height: auto;
        }

        .left-child .box{
            background-color: white;
            width: 350px;
            height: 250px;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            position: relative;
            top: -75px;
            right: 70px;
            }
            .left-child .box h6{
                font-size: 15px;
                padding-left: 60px;
            }


            .left-child .box h1{
                font-size: 25px;
            }



            .left-child .box button{
                width: 220px;
                height: 50px;
                margin-left: 50px;
                font-size: 18px;
            }
            .box button a{
                font-size: 14px;
            }


            .left-child img{
              width: 350px;
             height: 220px;
             margin-top: 50px;
            margin-left: 0px;
             margin-bottom: 0px; 
              }

              .right-child{
                width: 100%;
               height:auto;
               padding-left: 0px;
               margin-top: 0px;
               }


               .right-child h6{
                text-align: start;
                padding-inline: 5px;
                padding-left: 30px;
                padding-right: 0px;
            }

           .right-child h1{
            font-size: 28px;
            /* text-align: start; */
            padding-inline: 5px;
                padding-right: 0px;
                padding-left: 30px;
            
           }

           .right-child .hr{
            margin-left: 30px;
           }

          
          .bottom-part p{
              font-size: 18px;
              padding-right:0px;
              padding-left: 30px;
         }


         .img-btn2{

           width: 270px;
           height: 50px;
           margin-left: 100px;
           margin-right: 0px;
        
            margin-top: 50px;
          }
          .img-btn2 a{
            font-size: 20px;
            color: rgb(167, 148, 184);
            text-decoration: none;
          } 
          

    .img-part{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.left-part {
    width: 100%;
    height: auto;
}
.left-part img{
    width: 450px;
    margin-top: 50px;
}


.right-part{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: start;
    justify-content:start;
    flex-direction: column;
    margin-top: 70px;
    padding-left: 20px;

     }
     
     .right-part h1{
        font-size: 30px;
        padding-right: 0px;
        line-height: 1.4;
        padding-bottom:30px;
     }
     .bottom-part2{
        width: 100%;
        height: auto;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;



     }

     .bottom-part2 p{
        text-align: start;
        padding-right: 10px;
        padding-left: 0px;
        font-size: 18px;
     }

     .part2-btn{
    margin-top: 70px;
        margin-left: 100px;
     }

     

     .txt-part h1{
        font-size: 35px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        
     }
     .txt-part p{
        font-size: 16px;
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
        line-height: 1.5;
        padding-top: 20px;
     }
     .txt-btn{
        margin-top: 30px;
       }
       
       .box-part{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }


       .box1{
        width: 400px;
        height: 300px;
        position: relative;
        top: 50px;
       }

       .box1 p{
        font-size: 14px;
       }

       .box1 h1{
        font-size: 20px;
       }

       .box1 .box-btn{
        width: 150px;
        height: 35px;
       }


       .box2{
        width: 400px;
        height: 500px;
       }
       .box2 h3{
        font-size: 20px;
        padding-top: 30px;
       }


       .box2 ul li{
        font-size: 16px;
        line-height: 2;
        
       }

       .contact-part{
        padding-left: 0px;
        padding-block:80px;
        padding-inline: 30px;
         }
       
         .contact-btn{
            margin-left: 120px;
         }
    

       
         .last-part{
            width: 100%;
            height: auto;
            padding-inline: 10%;
    
         }
     
         .last-box{
            width: 100%;
            height: auto;
            flex-direction: column;
            padding-block-end: 15%;
         }
    
    
         .left{
            width: 100%;
            height: auto;
         }

         .right{
            width: 100%;
            height: auto;
         }


         
         .blk-box h4{
            font-size: 15px;
            padding-left: 15px;
    
          
    
         } 
  
         




         .footer{
            height: 130px;
            position: relative;
            top:0px;
            display: flex;
            align-items: center;
            justify-content: center;
           }
           .footer ul{
            padding-left: 0px;
        
             }



          .footer-2{
            height: 200px;
           position:relative;
           top:-10px;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
        }

        .icon{
        
            margin-left: 0px;
        
            }
        
    
     

        

   
   
        